{% include "header.html" %}
{% load bootstrap_toolkit %}  
{% load url from future %}  

<div class="span10">
    <h2>删除物理宿主机</h2>  
    <div class="alert alert-error">
            <h4>删除!</h4>　　确认删除以下物理机？？？
     </div>
    <div class="well">  
        <form class="form-horizontal" action="" method="post">  
            {% csrf_token %}  
            {{ form|as_bootstrap:"horizontal" }} 
            <p class="form-actions">  
                <input type="submit" value="确认删除" class="btn btn-primary">  
            </p>  
        </form>  
    </div>  
</div>
{% include "footer.html" %}  
  
